In [26]:
import pandas
import numpy
import re

In [7]:
country_table = pandas.read_csv("/Users/Rolina/Desktop/country_centroids/country_centroids_all.csv", sep='\t')

In [13]:
country_table.head()

,LAT,LONG,DMS_LAT,DMS_LONG,MGRS,JOG,DSG,AFFIL,FIPS10,SHORT_NAME,FULL_NAME,MOD_DATE,ISO3136
0,33.000000,66.0,330000,660000,42STB1970055286,NI42-09,PCLI,NaN,AF,Afghanistan,Islamic Republic of Afghanistan,2009-04-10,AF
1,41.000000,20.0,410000,200000,34TDL1589839239,NK34-08,PCLI,NaN,AL,Albania,Republic of Albania,2007-02-28,AL
2,28.000000,3.0,280000,30000,31REL0000097202,NH31-15,PCLI,NaN,AG,Algeria,People's Democratic Republic of Algeria,2011-03-03,DZ
3,-14.333333,-170.0,-142000,-1700000,1802701,NaN,PCLD,US,AS,American Samoa,Territory of American Samoa,1998-10-06,AS
4,42.500000,1.5,423000,13000,31TCH7675006383,NK31-04,PCLI,NaN,AN,Andorra,Principality of Andorra,2007-02-28,AD

In [30]:
total_dict = list()
for ins in country_table.values.tolist():
    tmp = dict()
    tmp["lat"] = ins[0]
    tmp["lng"] = ins[1]
    tmp["Abb_loc"] = ins[8]
    tmp["loc"] = re.sub(" ","_",ins[9])
    tmp["full_name"] = re.sub(" ","_",ins[10])
    total_dict.append(tmp)

In [31]:
total_dict[:5]

[{'Abb_loc': 'AF',
  'full_name': 'Islamic_Republic_of_Afghanistan',
  'lat': 33.0,
  'lng': 66.0,
  'loc': 'Afghanistan'},
 {'Abb_loc': 'AL',
  'full_name': 'Republic_of_Albania',
  'lat': 41.0,
  'lng': 20.0,
  'loc': 'Albania'},
 {'Abb_loc': 'AG',
  'full_name': "People's_Democratic_Republic_of_Algeria",
  'lat': 28.0,
  'lng': 3.0,
  'loc': 'Algeria'},
 {'Abb_loc': 'AS',
  'full_name': 'Territory_of_American_Samoa',
  'lat': -14.333333300000001,
  'lng': -170.0,
  'loc': 'American_Samoa'},
 {'Abb_loc': 'AN',
  'full_name': 'Principality_of_Andorra',
  'lat': 42.5,
  'lng': 1.5,
  'loc': 'Andorra'}]

In [32]:
import json
with open("Coordofcountry.json", "w") as f:
    f.write("city_coord=")
    f.write(json.dumps(total_dict))