In [7]:
ls ~/Desktop/ | grep ".csv"

cdc_zika.csv*
epic.csv

In [227]:
import pandas as pd
import numpy as np
import math
import re

In [39]:
zika_data = pd.read_csv("cdc_zika.csv")
zika_data["index"] = zika_data.index
zika_data.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit,index
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,0
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,1
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases,2
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases,3
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases,4

In [112]:
print "\nAll features available:\n", list(zika_data.columns)
print "\nAll location_type collected\n", list(zika_data["location_type"].unique())
#Note: .sort() returns null and sort the item
zika_dates = sorted(zika_data["report_date"].unique())
print("\nRange of report date available from %s to %s, special date: %s"%(zika_dates[1], zika_dates[-1], zika_dates[0]))
print("\nNumber of data points: %d\n"%(len(zika_data)))

del zika_dates

All features available:
['report_date', 'location', 'location_type', 'data_field', 'data_field_code', 'time_period', 'time_period_type', 'value', 'unit', 'index']

All location_type collected
['province', 'state', 'region', 'municipality', nan, 'country', 'county', 'department', 'Department', 'district', 'city', 'territory']

Range of report date available from 2015-11-28 to 2016_07-01, special date: nan

Number of data points: 107619

In [108]:
#filter out data without Dates
#remove time_period and time_period_type

print("Checking if all instances have report_date")
len(zika_data.filter(["index", "report_date"]).values.tolist()) == len(filter(lambda ins: ins[1] != None and ins[1] != "NaN", zika_data.filter(["index", "report_date"]).values.tolist()))

#Note: nan is float when read through pandas. To detect such float. You must use math.isnan() or float("nan")

Checking if all instances have report_date

True

In [107]:
#filter out data without Dates
#remove time_period and time_period_type
print("Checking if all instances have time_period")
len(zika_data.filter(["index", "time_period"]).values.tolist()) == len(filter(lambda ins: ins[1] != None and ins[1] != "NaN" and not math.isnan(ins[1]), zika_data.filter(["index", "time_period"]).values.tolist()))

Checking if all instances have time_period

False

In [131]:
Zika = zika_data.filter(["index","report_date","location","location_type","value","unit"])
Zika_len = len(Zika)

In [132]:
len(Zika.groupby("unit").get_group("municipalities"))

1093

In [138]:
Zika.groupby("location_type").get_group("state").head()

      index report_date         location location_type value   unit
2016   2016  2016-02-13      Brazil-Acre         state    22  cases
2017   2017  2016-02-13   Brazil-Alagoas         state    90  cases
2018   2018  2016-02-13     Brazil-Amapa         state   NaN  cases
2019   2019  2016-02-13  Brazil-Amazonas         state   NaN  cases
2020   2020  2016-02-13     Brazil-Bahia         state   583  cases

In [ ]:
Zika.loc[[2414,2783,5192]]

In [182]:
#give lat/lng based on location
####change location to number based on one-hot encoding
#feed in data based on date
#label is the location of the place
Zika["value"] = map(lambda x: -1 if math.isnan(to_float(x)) else int(to_float(x)), Zika["value"])
Zika_case_sum = Zika.groupby(["report_date", "location", "location_type"])["value"].sum()
Zika_case_sum.head()

report_date  location                  location_type
2015-11-28   El_Salvador               country          854
             El_Salvador-Ahuachapan    department         4
             El_Salvador-Cabanas       department         3
             El_Salvador-Chalatenango  department         8
             El_Salvador-Cuscatlan     department         4
Name: value, dtype: int64

In [183]:
def to_float(x):
    try:
        return float(x)
    except: 
        x_split = x.split("*")
        if x_split[1] !="":
            #print x_split
            return int(x_split[0]) * int(x_split[1])
        else:
            return float(x_split[0])

In [221]:
Zika_case_sum.to_frame().head()

                                           value
report_date location        location_type
2016-02-20  Brazil-Amapa    state             -5
            Brazil-Amazonas state             -5
2016-02-27  Brazil-Amapa    state             -5
2016-03-12  Brazil-Amapa    state             -5
2016-03-05  Brazil-Amapa    state             -5

In [229]:
Set_Sample_Data = list()
Sample_Data_dict = Zika_case_sum.to_dict()
for key in Sample_Data_dict.keys():
    tmp_dict = dict();
    tmp_dict["report_date"] = int(re.sub("-|_","",key[0]));
    tmp_dict["location"] = key[1];
    tmp_dict["location_type"] = key[2];
    tmp_dict["value"] = Sample_Data_dict[key]
    Set_Sample_Data.append(tmp_dict)
    
del Sample_Data_dict

In [230]:
#create a distribution map
#RNN won't work because there are not enought information released about the data

In [235]:
Zika_new_Frame = pd.DataFrame(Set_Sample_Data)
Zika_new_Frame.head()

                           location location_type  report_date  value
0         Colombia-Bolivar-Tiquisio  municipality     20160312      4
1        Colombia-Risaralda-Pereira  municipality     20160116     28
2             Colombia-Cesar-Astrea  municipality     20160618     14
3          Colombia-Quindio-Unknown  municipality     20160611      9
4  Colombia-Valle_Del_Cauca-Palmira  municipality     20160116      8

In [266]:
Sorted_Zika_new_Frame = Zika_new_Frame.sort_values(["report_date","location"],ascending=[True,True])
Sorted_Zika_new_Frame.head()

                       location location_type  report_date  value
14303               El_Salvador       country     20151128    854
3517     El_Salvador-Ahuachapan    department     20151128      4
32425       El_Salvador-Cabanas    department     20151128      3
11082  El_Salvador-Chalatenango    department     20151128      8
25706     El_Salvador-Cuscatlan    department     20151128      4

In [267]:
locations = list()
for loc in Sorted_Zika_new_Frame["location"].tolist():
    locations.append(re.sub("-.*","", loc))

In [268]:
Sorted_Zika_new_Frame["location"]=locations
Sorted_Zika_new_Frame.head()

          location location_type  report_date  value
14303  El_Salvador       country     20151128    854
3517   El_Salvador    department     20151128      4
32425  El_Salvador    department     20151128      3
11082  El_Salvador    department     20151128      8
25706  El_Salvador    department     20151128      4

In [277]:
Clean_Zika = Sorted_Zika_new_Frame.groupby(["report_date", "location"])["value"].sum()
print "amount of samples remained after grouping:", len(Clean_Zika)
Clean_Zika.head()

amount of samples remained after grouping: 301

report_date  location
20151128     El_Salvador    1591
             Mexico            4
20151205     El_Salvador    2602
             Mexico            0
20151209     Guatemala        62
Name: value, dtype: int64

In [279]:
Set_Sample_Data = list()
Sample_Data_dict = Clean_Zika.to_dict()
for key in Sample_Data_dict.keys():
    tmp_dict = dict();
    tmp_dict["report_date"] = key[0];
    tmp_dict["location"] = key[1];
    tmp_dict["value"] = Sample_Data_dict[key]
    Set_Sample_Data.append(tmp_dict)
    
del Sample_Data_dict

In [283]:
import json
with open("Data_for_Zika.json", "w") as f:
    f.write("{'data':")
    f.write(json.dumps(Set_Sample_Data)[1:-1])
    f.write("}")

In [297]:
Sorted_Sample_Data = sorted(Set_Sample_Data, key = lambda x: x["report_date"])

In [298]:
import json
with open("Data_for_Zika.json", "w") as f:
    f.write("data=")
    f.write(json.dumps(Sorted_Sample_Data))

In [288]:
#classification

#find coordinates
country_table = pd.read_csv("/Users/Rolina/Desktop/country_centroids/country_centroids_all.csv", sep='\t')
country_coord = dict()
for ins in country_table.values.tolist():
    tmp = dict()
    tmp["lat"] = ins[0]
    tmp["lng"] = ins[1]
    tmp["Abb_loc"] = ins[8]
    loc = re.sub("'","" ,re.sub(" ","_",ins[9]))
    tmp["loc"] = loc
    tmp["full_name"] = re.sub("'","", re.sub(" ","_",ins[10]))
    country_coord[loc] = tmp

In [ ]:
can we use location and population to predict whether or not it will have zika outbreak recently

can we use location and population to predict whether or not it will have large value of cases


for ins in Set_Sample_Data:
    ins_matrix = [1,2,3]
    ins_matrix[0] = country_coord[ins["location"]]["lat"]
    ins_matrix[1] = country_coord[ins["location"]]["lng"]
    ins_matrix[2] =

In [299]:
from matplotlib.font_manager import FontProperties
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(111, title="Year v.s. Cases")
for dis in epic["disease"].unique():
    epic.groupby(["disease"]).get_group(dis).plot.scatter(x='year', y='cases', color=color, label=dis, ax=ax);
    box = ax.get_position()

ax.set_position([box.x0, box.y0 + box.height * 0.1, box.width, box.height * 0.9])
ax.legend(loc='upper center', bbox_to_anchor=(0.5, -0.05), fancybox=True, shadow=True, ncol=5)
plt.show()

NameError: name 'plt' is not defined